.form-container{
        margin: 0px 450px;
       padding: 40px 40px;
        text-align: center;
       border: solid gray 1px;
       border-radius: 8px;
}
.forget-email{
    text-align: end;
}

.google-button{
    margin: 20px 30px 0px 300px;
    padding: 200px 5000px;
}
.footer{
    margin: 0px 250px;
}
.page-button{
    
    align-items: stretch;
}
.table{
    padding: 20px 20px;
    align-items: center;
    border: 2px solid rgb(0,0,0);
   
}
td{
    padding: 2px 20px;
    /* padding: 40px; */
    border: 2px solid black
}
th{
    text-align: center;
  padding: 10px 0px;
    /* padding: 40px; */
    border: 2px solid black
}